{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="container">

    {{ form_start(form) }}
    {#        <div class="modal-content">#}
    {{ form_widget(form) }}

    <div class="divider"></div>

    <button class="btn small primary">Search</button>
    {{ form_end(form) }}


    {% for annonce in annonces %}
      <div class="card shadow-1 fx-row">
        <div class="primary d-flex vcenter fx-center px-4">
          <img width="300" height="300" src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name ) }}" alt="">
{#          {% for image in annonce.images %}#}
{#          <h1>{{ image.name }}</h1>#}
{#          {% endfor %}#}
{#          {{ dump(ann) }}#}
        </div>
        <div class="flex fx-col fx-grow">
          <div class="card-header"><a href="{{ path('annonces_details', {slug: annonce.slug}) }}">{{ annonce.title }}</a></div>
          <div class="card-content">
            <p>
              Category: {{ annonce.category.name }}
            </p>
            <p>
              {{ annonce.content | raw}}

              <div>
              {% if is_granted("ROLE_USER") %}

                {% for favorite in annonce.favorites %}
                  {% if favorite.id == app.user.id %}
                    <a href="{{ path('annonces_remove_favorite', {id: annonce.id}) }}"><i class="fas fa-heart txt-red"></i></a>
                    {% else %}
                      <a href="{{ path('annonces_add_favorite', {id: annonce.id}) }}"><i class="far fa-heart txt-red"></i></a>
                  {% endif %}

                  {% else %}
                    <a href="{{ path('annonces_add_favorite', {id: annonce.id}) }}"><i class="far fa-heart txt-red"></i></a>


                {% endfor %}

              {% else %}
                <i class="far fa-heart txt-red"></i>

              {% endif %}


            </div>


            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
