{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
  <div class="container">
    {% for annonce in annonces %}
      <div class="card shadow-1 fx-row">
        <div class="primary d-flex vcenter fx-center px-4">
          <img width="300" height="300" src="{{ asset('uploads/images/annonces/' ~ annonce.images[0].name ) }}" alt="">
{#          {% for image in annonce.images %}#}
{#          <h1>{{ image.name }}</h1>#}
{#          {% endfor %}#}
{#          {{ dump(ann) }}#}
        </div>
        <div class="flex fx-col fx-grow">
          <div class="card-header">{{ annonce.title }}</div>
          <div class="card-content">
            <p>
              Category: {{ annonce.category.name }}
            </p>
            <p>
              {{ annonce.content | raw }}
{#              {{ annonce.content | striptags }}#}
{#              {{ annonce.content  }}#}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
